body{
	font-family: 'Open Sans Condensed', sans-serif;
}
.catalog_image {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin-right: 5%;
}

.product{
	margin: 2%;
	padding: 2em 5%;
	border-radius: 5px;
	border: 1px solid rgb(170,170,170)
}
.product ul{
	list-style: none;
}
.layout{
	margin-left: 15%;
	text-align: 0;
	width: 70%;
}